<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
<meta charset="UTF-8" />
<!-- Bootstrap -->
<link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="../../resources/css/dashboard.css"
	th:href="@{/resources/css/dashboard.css}" />
<title>Quasar GC Admin Pannel</title>
</head>
<body>
	<div id="wrap">
		<div th:include="header :: header" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10 col-md-10 col-md-offset-2" style="padding: 0; height: 20px;">
					<ol class="breadcrumb">
						<li><a href="/games">Games</a></li>
						<li class="active"><a href="/game"><span th:text="${gameDto.gameName}">GameName</span></a></li>
						<li><a href="/leaderboards">Leaderboards</a></li>
						<li class="active">Leaderboard Editor</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li><img class="img-thumbnail" th:src="@{'data:image/png;base64,'+${gameDto.gameImage}}"
							style="width: 48px; height: 48px; margin-left: 20px; margin-bottom: 5px;" /></li>
						<li><a href="/game">General Info</a></li>
						<li class="active"><a href="/leaderboards">Leaderboards&nbsp;<span class="badge"
									th:text="${gameDto.leaderboardsCount}">42</span></a></li>
						<li><a href="/achievements">Achievements&nbsp;<span class="badge" th:text="${gameDto.achievementsCount}">42</span></a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h2 class="page-header">Leaderboard Editor</h2>
					<div class="alert alert-danger" role="alert" th:if="${param.error}">
						<strong>Error!</strong>
						<span th:text="${param.error[0]}">An unexpected error occurs</span>
					</div>
					<div class="alert alert-success" role="alert" th:if="${param.msg}">
						<span th:text="${param.msg[0]}">An unexpected error occurs</span>
					</div>
					<form class="form-horizontal" role="form" action="#" th:action="@{/leaderboards/save}"
						th:object="${leaderboardForm}" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="leaderboardId" class="col-sm-2 control-label">Leaderboard Id</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="leaderboardId" th:field="*{leaderboardId}" readonly="readonly" />
							</div>
						</div>
						<div th:class="${#fields.hasErrors('leaderboardName')? 'form-group has-error' : 'form-group'}">
							<label for="leaderboardName" class="col-sm-2 control-label">Leaderboard Name</label>
							<div class="col-sm-10">
								<span class="text-danger" th:if="${#fields.hasErrors('leaderboardName')}" th:errors="*{leaderboardName}">An
									unexpected error occurs</span>
								<input type="text" class="form-control" id="leaderboardName" placeholder="Leaderboard Name"
									th:field="*{leaderboardName}" />
							</div>
						</div>
						<div class="form-group">
							<label for="leaderBoardImage" class="col-sm-2 control-label">Leaderboard Image</label>
							<div class="col-sm-1">
								<img class="gcgameimg" th:src="@{'data:image/png;base64,'+*{leaderBoardImage}}" />
							</div>
							<div class="col-sm-9">
								<input type="file" class="form-control input-sm" id="leaderBoardImage" name="leaderBoardImage"
									th:field="*{leaderBoardImageRaw}" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label> <input type="checkbox" th:field="*{leaderboardScoreIncrement}" /> Increment score? <small>(when
											checked the score will get incremented by newly submitted value, otherwise the score will get overridden)</small>
									</label>
								</div>
							</div>
						</div>
						<div th:class="${#fields.hasErrors('leaderboardMinSubmitValue')? 'form-group has-error' : 'form-group'}">
							<label for="leaderboardMinSubmitValue" class="col-sm-2 control-label">Min allowed value for submition</label>
							<div class="col-sm-10">
								<span class="text-danger" th:if="${#fields.hasErrors('leaderboardMinSubmitValue')}"
									th:errors="*{leaderboardMinSubmitValue}">An unexpected error occurs</span>
								<input type="text" class="form-control" id="leaderboardMinSubmitValue" placeholder="1"
									th:field="*{leaderboardMinSubmitValue}" />
							</div>
						</div>
						<div th:class="${#fields.hasErrors('leaderboardMaxSubmitValue')? 'form-group has-error' : 'form-group'}">
							<label for="leaderboardMaxSubmitValue" class="col-sm-2 control-label">Max allowed value for submition</label>
							<div class="col-sm-10">
								<span class="text-danger" th:if="${#fields.hasErrors('leaderboardMaxSubmitValue')}"
									th:errors="*{leaderboardMaxSubmitValue}">An unexpected error occurs</span>
								<input type="text" class="form-control" id="leaderboardMaxSubmitValue" placeholder="999999999999"
									th:field="*{leaderboardMaxSubmitValue}" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<a href="/leaderboards" class="btn btn-default" role="button">Cancel</a>
								<button type="submit" class="btn btn-primary">Save Leaderboard</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" th:include="footer :: footer"></div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="../../resources/js/jquery-1.11.1.min.js"
		th:href="@{/resources/js/jquery-1.11.1.min.js}"></script>
	<script type="text/javascript" src="../../resources/js/bootstrap.min.js" th:href="@{/resources/js/bootstrap.min.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script type="text/javascript" src="../../resources/js/ie10-viewport-bug-workaround.js"
		th:href="@{/resources/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>