<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="header">
<meta charset="UTF-8" />
<!-- Bootstrap -->
<link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css"
	th:href="@{/resources/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="../../resources/css/dashboard.css"
	th:href="@{/resources/css/dashboard.css}" />
<title>Quasar GC Admin Pannel</title>
</head>
<body>
	<div id="wrap">
		<div th:include="header :: header" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10 col-md-10 col-md-offset-2" style="padding: 0; height: 20px;">
					<ol class="breadcrumb">
						<li><a href="/players">Players</a></li>
						<li><span th:text="${playerForm.playerUsername}">Username</span></li>
						<li>Leaderboards</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li><img class="img-thumbnail" th:src="@{'data:image/png;base64,'+${playerForm.playerPicture}}"
							style="width: 48px; height: 48px; margin-left: 20px; margin-bottom: 5px;" /></li>
						<li><a href="#" th:href="@{/players/edit(id=${playerForm.playerId})}">General Info</a></li>
						<li class="active"><a href="/players/playerleaderboards">Leaderboards&nbsp;<span class="badge"
									th:text="${playerForm.leaderboardsCount}">42</span></a></li>
						<li><a href="/players/playerachievements">Achievements&nbsp;<span class="badge"
									th:text="${playerForm.achievementsCount}">42</span></a></li>
						<li><a href="/players/playerlogs">Logs&nbsp;<span class="badge"
									th:text="${playerForm.logsCount}">42</span></a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h2 class="page-header">Player Leaderboards</h2>
					<div class="alert alert-danger" role="alert" th:if="${param.error}">
						<strong>Error!</strong>
						<span th:text="${param.error[0]}">An unexpected error occurs</span>
					</div>
					<div class="alert alert-success" role="alert" th:if="${param.msg}">
						<span th:text="${param.msg[0]}">An unexpected error occurs</span>
					</div>
					<table class="table table-striped">
						<colgroup>
							<col style="width: 2%;" />
							<col style="width: 1%;" />
							<col style="width: 30%;" />
							<col style="width: 1%;" />
							<col style="width: 30%;" />
							<col style="width: 25%;" />
							<col style="width: 11%;" />
						</colgroup>
						<thead>
							<tr>
								<th colspan="1">#</th>
								<th colspan="1"></th>
								<th colspan="1">Game Name</th>
								<th colspan="1"></th>
								<th colspan="1">Leaderboard Name</th>
								<th colspan="1">Score</th>
								<th colspan="1">Rank</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="g, row : ${leaderboards}">
								<td th:text="${page.prefix} + ${row.index+1}">Nr.</td>
								<td><a href="#" th:href="@{/games/gogame(id=${g.gameId})}"><img class="gcgameimg"
										th:src="@{'data:image/png;base64,'+${g.gameImage}}" /></a></td>
								<td><a href="#" th:href="@{/games/gogame(id=${g.gameId})}"><span th:text="${g.gameName}">GameName</span></a></td>
								<td><a href="#" th:href="@{/leaderboards/edit(id=${g.leaderboardId})}"><img class="gcgameimg"
										th:src="@{'data:image/png;base64,'+${g.leaderBoardImage}}" /></a></td>
								<td><a href="#" th:href="@{/leaderboards/goldb(gameId=${g.gameId},ldbId=${g.leaderboardId})}"><span
											th:text="${g.leaderboardName}">LeaderboardName</span></a></td>
								<td><span th:text="${g.currentScore}">Score</span></td>
								<td th:text="${g.currentRank}">Rank</td>
							</tr>
						</tbody>
					</table>
					<div th:include="pagination :: paginationbar"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="../../resources/js/jquery-1.11.1.min.js"
		th:href="@{/resources/js/jquery-1.11.1.min.js}"></script>
	<script type="text/javascript" src="../../resources/js/bootstrap.min.js" th:href="@{/resources/js/bootstrap.min.js}"></script>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script type="text/javascript" src="../../resources/js/ie10-viewport-bug-workaround.js"
		th:href="@{/resources/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>